.flashy {
  color: red;
  font-style: italic;
  font-size: 120%
}

.ebbys {
  border: 10px solid blue;
  background-color: white;
  padding: 10px;
  margin: 10px;
}

.my-class {
  border: 2px solid yellow;
  background-color: green;
  padding: 4px;
  margin: 24px;
}

.test {
  color: blue;
}

.subliminal {
  font-style: italic;
  font-size: 80%;
  font-weight: bold;
  color: green;
}

img.main {
  float: left;
}

body{
  background-color: #99e6ff;
  text-align: center;
}

.column {
  width: 300px;
  float: left;
}

.sidebar {
  float:right;
}

.best {
  color: blue;
  font-stretch: expanded;
  font-weight: bold;
  font-size: 150%
}

.important {
  font-family: cursive;
}
